.c-circles{
    margin: 24px;
}

.c-circles-white{
    text-decoration: none;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 24px;
    margin: 12px;
    background-color: #FFFFFF;
}

.c-circles-grey{
    text-decoration: none;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 24px;
    margin: 12px;
    background-color: #DFDFDF;
}

.c-circles-yellow{
    text-decoration: none;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 24px;
    margin: 12px;
    background-color: #FCB800;
}

.c-circles-red{
    text-decoration: none;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 24px;
    margin: 12px;
    background-color: #C03D08;
}

.c-circles-blue{
    text-decoration: none;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 24px;
    margin: 12px;
    background-color: #004E91;
}