.c-configurator{
    margin: 24px 0 24px 0;
}

.c-configurator-nav {
    display: inline-flex;
    padding: 0 .5rem .5rem;

    list-style: none;

    border-bottom: 1px solid $light-text;
}

.c-configurator-nav__item{
    font-size: 1.1rem;
    color: $light-text;

    & + & {
        margin-left: 1.5rem;
    }

    &:hover {
        color: $alpha-color;
        &:after {
            content: '';
            position: relative;
            display: block;
            top: .5rem;
            width: 100%;
            height: 1px;
            border-bottom: 2px solid $alpha-color;
        }

    }

}